/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Regole generiche */

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  color: black;
  background: linear-gradient(#8b95d3, #1d43b4);
  height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}

/* logo */

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  color: rgb(0, 89, 255);
  font-size: 40px;
}

